* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #131313;
  background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(black));
  background: linear-gradient(180deg, #131313 0%, black 100%);
  background-color: #131313;
  font-family: 'Playfair Display';
}

nav {
  background-color: #131313;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-size: 2vh;
  position: fixed;
  top: 0;
}

.navItem {
  font-size: 2vh;
  font-family: 'Playfair Display';
  color: white;
  border: none;
  background: none;
  text-align: center;
  width: 20vw;
  margin: 1.5rem;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.xd {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45vh 0vw 0 0vw;
}

header .title {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
  font-size: 3vh;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  margin: auto;
}

header .title b {
  font-weight: 700;
}

header .arrow {
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
  padding: 40vh 0 6vh 0;
  width: 4rem;
  -webkit-filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(167deg) brightness(85%) contrast(103%);
          filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(167deg) brightness(85%) contrast(103%);
}

.gridPhotos {
  --gap: .7rem;
  --num-cols: 2;
  --row-height:30rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: var(--gap);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  overflow: hidden;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media (min-width: 768px) {
  .gridPhotos {
    --row-height:60rem;
  }
  img:hover {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 60%;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  nav {
    padding: 0 2rem 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: white;
    font-size: 2vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  nav .navItem {
    width: auto;
  }
  .arrow {
    padding: 34vh 0 6vh 0;
    width: 4rem;
    -webkit-filter: invert(16%) sepia(76%) saturate(2567%) hue-rotate(345deg) brightness(89%) contrast(96%);
            filter: invert(16%) sepia(76%) saturate(2567%) hue-rotate(345deg) brightness(89%) contrast(96%);
  }
}

@media (min-width: 1440px) {
  .gridPhotos {
    margin: 0 10rem 0 10rem;
    --num-cols: 4;
    --row-height:auto;
    overflow: hidden;
  }
  .twoColumn {
    grid-column: span 2;
  }
  .threeRow {
    grid-row: span 3;
  }
  .twoRow {
    grid-row: span 2;
  }
}
/*# sourceMappingURL=style.css.map */