@media (min-width: 768px) {
    
    .gridPhotos {
        background-color: $colorBlanco;
        padding: 6rem 9rem 6rem 9rem;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
    }

    .twoColumn {
        grid-column: span 2;
    }

    .sixColumn {
        grid-column: span 6;
    }

    .threeRow {
        grid-row: span 3;
    }
    
    .twoRow {
         grid-row: span 2;
    }

    
    nav {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        top:0;
        
        .menuItem {
            width: auto;
            font-weight: 600;
            font-size: 2rem;
            padding: 1rem 1rem 1rem 1rem;
        }

        #dropDownMenu {
            text-align: left;

            .dropDownMenuItem {
                font-size: 2rem;
                font-weight: 500;
                margin: .5rem 0 .5rem 0rem;
                padding-left: 1rem;
        }
    }

        
    }
    .arrow {
        margin: 3vh 0 18vh 0;
        height: 10rem;
    }
    
    .contactBackground {
        padding-bottom: 1rem;
    }
    .contact {
        width: 60rem;
        margin-inline: auto;

        .contactBodyMessage {
            min-height: 20rem;
        }
    
        .contactBodyName, .contactBodyEmail, .contactBodyMessage, .contactBodyButton {
            width: 90%;
        }
    }
    .text {
        font-size: 3rem;
    }

    

}