@media (min-width: 768px) {
    
    .maskedHeader {

        .maskedBackground{
            opacity: 70%;
            width: 100vw;
            height: auto;
            top: 20%;
            
        }

        .maskedTitle {
            font-size: 7.5rem;
            top: 20%;
        }
    }
}