$colorNegro:#0e0e0e;
$colorBlanco:#ebebeb;
$colorGris:rgb(170, 170, 170);
$colorGrisOscuro:#a0a0a0;
$step-0: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
$step-1: clamp(1.58rem, calc(1.09rem + 2.41vw), 2.81rem);