@import "var";
@import "animation";
@import "txt";
@import "reset";
@import "scrollbar";
@import "masked";
@import "mediaMasked";
@import "exp";
@import "mediaexp";



html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 3.6rem;
}

body {
    position: relative;
    background-color:$colorNegro;
    // background: rgb(144,205,228);
    // background: linear-gradient(90deg, #90cde4 0%, #90deaa 50%, #e9bd99 100%);
    font-family: 'Playfair Display', serif;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;

    &:active {
        color: #cfcfcf
    }
}

//BARRA DE NAVEGACION

nav {
    z-index:99;
    background-color:$colorNegro;
    width: 100%;
    position: fixed;
    top: 0;

    .menu {
        position:relative;
        list-style-type: none;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    
    .menuItem{
        padding: .5rem 1rem .5rem 1rem;
        color: $colorBlanco;
    }

    a {
        font-size: 2rem;
        text-decoration: none;
        
        &:active {
            color: #cfcfcf
        }
    }

    //MENU (COLECCIONES)

    #dropDownMenu {
        width: 100%;
        display: none;
        position: absolute;
        top: 100%;
        text-align: center;
        background-color: $colorBlanco;
        z-index:90;

        &:hover {
            display: block;
        }

        .dropDownMenuItem {
            color: $colorNegro;
            font-size: 1.8rem;
            font-weight: 600;
            padding: .6rem 0 .6rem 0;
            display: block;

            &:hover {
                color: $colorBlanco;
                background-color: $colorNegro;
            }
        }
    }

    #dropDownTrigger:hover + #dropDownMenu{
        display: block;
    }

   
}

//HEADER 

#header { 
    z-index: -1;
    top: 50%;
    left: 50%;
    margin-top: 10vh;
    transform: translate(-50%,-50%);
    position:fixed;
    animation: fadeIn 2s;
    text-align: center;
    
    
    .title {
        font-family: 'Noto Serif Display', serif;
        font-size: 6rem;
        color: $colorBlanco;
        text-align: center;
        font-weight: 500;
        // margin-top: 35vh;
        padding: 0 0 .5rem 0;
        // animation: focusInExpand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
        // animation: text 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
        animation: focusInContract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;

        b {
            font-weight: 600;
        }
        
    }

    
    
    hr {
        border: 1px solid $colorBlanco;
        height: 1px;
    }
    .subtitle {
        font-size: 2rem;
        color: $colorBlanco;
        font-weight: 500;
        animation: focusInContract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
    }


    .arrow {
        background: none;
        border: none;
        // padding: 0.5rem;
        margin: 30vh 0 5vh 0;
        width: 5rem;
        height: 5rem;
        animation: shakeVertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
        // animation: textFocusIn 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) .5s both;
        filter: invert(99%) sepia(26%) saturate(14%) hue-rotate(139deg) brightness(104%) contrast(101%);
    }
}

// GALERIA DE FOTOS

.gridPhotos{
    margin: 100vh 0 0 0;
    background-color:$colorBlanco;
    box-sizing:border-box;
    padding: 0.5rem;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:auto;
    gap: 0.5rem;
    overflow: hidden;
}

.item {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.imageGrid {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}


// SECCION DE CONTACTO

.contactBackground {
    background-color: $colorNegro;
}


.contact {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    padding: 3rem 0 0rem 0;

    .contactHeader {
        
        
        color:$colorBlanco;
        // font-weight: 400;
        padding: 0rem 0 .5rem 0;
        font-size: 2em;
        
    }

    textarea {
        resize: vertical;
    }
    
    .contactBodyName, .contactBodyEmail, .contactBodyMessage, .contactBodyButton {
        font-family: 'Playfair Display', serif;
        padding: 1rem;
        width: 100%;
        border-left: none;
        border-top:none;
        border-right: none;
        border-width: 1px;
        color: $colorBlanco;
        border-color: $colorBlanco;
        background: none;

        &:focus {
            border: none;
        }
    }



    .contactBodyMessage {
        height: 12rem;
        min-height: 5rem;
    }

    .contactBodyButton {
        font-weight: 600;
        color: $colorBlanco;
        border: none;
        
        &:active {
            color: #cfcfcf;
        }
    }
}

// FOOTER


footer{
    height: 7rem;
    background-color: $colorNegro;
    padding: 2rem;
    
    .ig {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 3rem;
        width: 3rem;
        filter: invert(100%) sepia(7%) saturate(2%) hue-rotate(49deg) brightness(104%) contrast(100%);
    }
}



@import "media";


