@media (min-width: 768px) {
    
    .gridPhotos {
        --row-height:60rem;
    }

    img:hover {
        transition: .5s;
        opacity: 60%;
        transform: scale(1.02);
    } 

    nav {
        
        padding: 0 2rem 0 2rem;
        display: flex;
        justify-content: flex-start;
        color: white;
        font-size: 2vh;
        position: sticky;
        top: 0;

        .navItem {
            width: auto;
        }
    }

    .arrow {
        padding: 34vh 0 6vh 0;
        width: 4rem;
        filter: invert(16%) sepia(76%) saturate(2567%) hue-rotate(345deg) brightness(89%) contrast(96%);
    }

}

@media (min-width: 1440px) {
    .gridPhotos {
        margin: 0 10rem 0 10rem;
        --num-cols: 4;
        --row-height:auto;
        overflow: hidden;
    }
    
    .twoColumn {
        grid-column: span 2;
    }
    
    .threeRow {
        grid-row: span 3;
    }
    
    .twoRow {
         grid-row: span 2;
    }
    
    
}